# .dockerignore

# Ignore unnecessary files and directories
**/.git
**/.gitignore
**/.vscode
**/.DS_Store

# Ignore specific build-related files
**/Dockerfile
**/docker-compose.yml

# Ignore backup and temporary files
**/*~
**/*.swp
**/*.bak
